.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 $m-size;
}
.content-area{
  display: flex;
  justify-content: space-around;
  padding: 30px;

}

.validation-form{
  flex-flow: column
}
.news-list{
  display: flex;
  flex-basis: 50%;
  justify-content: space-between
}
.river-container{
  display: flex
}

.news-content{
  display: flex
}
a{color: $link-color}