.container {
  
  margin: 0 auto;
  padding: 0 $m-size;
}
.content-area{
  display: flex;
  justify-content: space-around;
  padding: 30px;

}

.validation-form{
  flex-flow: column
}
.news-list{
  display: flex;
  flex-basis: 50%;
  justify-content: space-between
}
.river-container{
  display: flex
  
}
.news-items{display: table}
.news-content img{padding-right: 15px}
.news-content p{margin: 0 5px 0 10px}
a{color: $link-color}
